xcuserdata/*
xcuserdata
*.xcuserdatad/

.DS_Store

UserInterfaceState.xcuserstate
SokobanCopy2.xcodeproj/project.xcworkspace/xcuserdata/scottmehus.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
*.ipa
*.dSYM
*.zip


SokobanCopy2.xcodeproj/xcuserdata/a254146.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist