xcuserdata/*
xcuserdata
*.xcuserdatad/

.DS_Store

UserInterfaceState.xcuserstate
SokobanCopy2.xcodeproj/project.xcworkspace/xcuserdata/scottmehus.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
*.ipa
*.dSYM
*.zip
